@import './global.inc';
@import 'mixins/mixins';

html, body {
  font-family: 'Roboto';
  font-size: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  #app {
    width: 100%;
    height: 100%;
  }
}

$blue: #193d54;

/* Global classes. */

.text-faded { color: #888; }
.text-small { font-size: 0.8em; }

.spacer {
  flex-grow: 1;
}

.background-one {
  background-color: #fa6182;
  .text {
    color: #fff;
    text-shadow: 3px 3px #549aae;
  }
}

.background-two {
  background-color: #fff;
  .text {
    color: #193d54;
    text-shadow: 3px 3px #fa6182;
  }
}

.background-three {
  background-color: $blue;
  .text {
    color: #fff;
    text-shadow: 3px 3px #fa6182;
  }
}